<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <title>Mongo News Scraper</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/cerulean/bootstrap.min.css" rel="stylesheet" integrity="sha384-zF4BRsG/fLiTGfR9QL82DrilZxrwgY/+du4p/c7J72zZj+FLYq4zY00RylP9ZjiT" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
    <link rel="stylesheet" href="assets/css/styles.css">
    <title>Mongo News Scraper</title>

</head>
<body>
    <div class="jumbotron">
        <div class="text-center">
            
            <h1>Mongo News Scraper</h1>
            
            <h3>Scrape the latest news from ycombinator</h3>
        
        </div>

        <div class="col-xs-3 col-xs-offset-3">
        
            <form class="pull-right" action="/" method="GET">
                <button type="submit" class="btn btn-sm btn-warning">SCRAPE</button>
            </form>
        
        </div>

        <div class="col-xs-3">

            <form action="/saved" method="GET">
                <button type="submit" class="btn btn-sm btn-success">SAVED ARTICLES</button>
            </form>
        
        </div>    

        </div>

        <hr />
    </div>
	<div class="container">
        <div class="col-xs-7">
		    {{{ body }}}
        </div>
        <h2>Notes</h2>
        <div class="col-xs-5 notes well"></div>
	</div>
</body>
</html>