<div class="col-xs-12">
	
  <h2>Saved Articles</h2>
	
  {{#each articles}}
	
  <div class="row well">

    <a href="{{this.link}}" target="_blank"><h4>{{this.title}}</h4></a>

    <form class="pull-left">
      <button type="button" class="btn btn-info btn-sm notes-btn" data-id="{{this.id}}">Notes</button>
    </form>

    <form class="pull-right">
      <button type="button" class="btn btn-danger btn-sm delete-article-btn" data-id="{{this.id}}">Delete</button>
    </form>

	</div>
  
  {{/each}}

</div>