<div class="col-xs-12">

	<h2>Scraped Articles</h2>

	{{#each articles}}

	<div class="row well">

		<a href="{{this.link}}"><h4>{{this.title}}</h4></a>

		<form class="pull-right" action="/article/{{this.id}}" method="POST">
			<input type="hidden" name="id" value="{{this.id}}">
			<button type="submit" class="btn btn-sm btn-info">SAVE</button>
		</form>

	</div>

	{{/each}}

</div>